{% extends "base.html" -%}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  <h1 class="entry-title text-center">{{ article.title }}</h1>
  <footer class="blockquote-footer text-center">published by <a href="{{ article.author.url }}">{{ article.author.name }}</a></footer>
  <hr class="text-center">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf" class="text-muted btn btn-primary">get the pdf</a>
  {% endif %}
  {{ article.content }}
  <br>
  <hr>
  {% if article.last_modified is defined -%}
    <p><small>Last modified {{ article.last_modified }}</small></p>
  {% endif -%}
{% endblock content -%}
