<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Pentagame - {{ SITENAME }}{% endblock title %}
    </title>

    <!-- CSS -->
    <link href="/theme/css/app.css" rel="stylesheet" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/theme/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/theme/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/theme/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/theme/images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/theme/images/safari-pinned-tab.svg"
      color="#212121"
    />
    <link rel="shortcut icon" href="/theme/images/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Pentagame" />
    <meta name="application-name" content="Pentagame" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/theme/images/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="/theme/images/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Meta -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="canonical" href="https://pentagame.cobalt.rocks" />
    <meta name="theme-color" content="#212121" />
    <meta property="og:image" content="/theme/images/brand.png" />
    <meta property="og:site_name" content="Pentagame Online" />
    <meta property="og:type" content="text/html" />
    <meta name="description" content="Pentagame Infos & Rule" />
    <meta property="og:description" content="Pentagame Infos & Rule" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="/theme/images/brand.svg"
            alt="Pentagame logo by Jan Suchanek CC-BY-NC"
            width="30"
            height="30"
            class="d-inline-block align-top"
          />
          Pentagame
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 ml-auto mb-lg-0">
            {% block nav_items -%} {% for title, link in MENUITEMS %}
            <li class="nav-item">
              <a
                href="{{ link }}"
                class="nav-link light-link {% if p == page %}active{% endif -%}"
              >
                {{ title }}
              </a>
            </li>
            {% endfor %} {% endblock nav_items -%}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container-fluid bg-light" id="content">
      <div class="container h-100 py-4">
        {% block content -%} {% endblock content -%}
      </div>
    </div>
    <!-- #Content -->

    <!-- Footer -->
    <footer
      id="footer"
      class="page-footer mt-3 font-small bg-dark text-white w-100"
    >
      <!-- Copyright -->
      <div class="footer-copyright text-white py-3">
        <div class="container">
          <div class="row justify-content-center align-items-start">
            <div class="col-6">
              <h5 class="title-white">Pentagame Online</h5>
              <p class="m-0">
                <a
                  href="https://github.com/Penta-Game/pentagame/blob/master/LICENSE"
                  class="mr-1 btn btn-dark btn-sm text-decoration-none fas-text"
                >
                   2020 Copyright
                </a>
                <a
                  href="https://github.com/Penta-Game/pentagame-website"
                  class="mr-1 btn btn-dark btn-sm text-decoration-none"
                >
                  LGPLv3.0 or newer
                </a>
                <a
                  href="https://cobalt.rocks/"
                  class="ml-1 btn btn-dark btn-sm text-decoration-none"
                >
                  by Cobalt
                </a>
              </p>
              <p class="m-0">
                <a
                  class="text-white fab-text text-decoration-none btn btn-dark btn-sm"
                  href="https://github.com/Penta-Game/pentagame"
                >
                   Code on Github
                </a>
              </p>
            </div>

            <div class="col-6">
              <h5 class="title-white">Quick Links</h5>
              <p class="m-0">
                <a
                  class="text-white btn btn-dark btn-sm text-decoration-none"
                  href="https://pentagame.org"
                >
                  <i class="fas fa-shopping-cart"></i> Pentagame shop
                </a>
              </p>

              <p class="m-0">
                <a
                  class="text-white btn btn-dark btn-sm text-decoration-none"
                  href="/pages/rules"
                >
                  <i class="fas fa-file-alt"></i> Rules
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- #Copyright -->
    </footer>
    <!-- #Footer -->

    <!-- Toasts -->
    <div aria-live="polite" aria-atomic="true" id="toast-container">
      <div
        class="toast mt-4 bg-dark text-white"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header bg-dark">
          <img
            src="/theme/images/brand.svg"
            width="20"
            height="20"
            class="rounded mr-2"
            alt="Icon"
          />
          <strong class="mr-auto text-white">Pentagame</strong>
          <small class="text-muted">just now</small>
          <button
            type="button"
            class="btn-close bg-white"
            data-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">This website is for testing purposes</div>
      </div>
    </div>
    <!-- #Toasts -->

    <!-- JS -->
    <script src="/theme/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/theme/dist/main.js"></script>

    <!-- Page specific resources -->
    {% block includes %}{% endblock %}
  </body>
</html>
