{% extends "base.html" %}
{% block title %}Pentagame - Landing Page{% endblock %}

{% block content %}

<div class="row my-5">
  <div class="col-md-6">
    <h1>Welcome to Pentagame</h1>
    <p>
      Pentagame is an abstract strategy game without chance element. It is
      played on a pentagram star that shows 100 round stops. The 5 corners and
      the 5 crossings in the pentagram are colored (white, blue, red, green,
      yellow). It can be played with 2, 3 or 4 players. It looks a bit like a
      pentagonal ludo, but it is truly different. For example, there is no
      chance and pieces don't get beaten. Instead, it is all about moving,
      swapping, about paths and about areas. Every player plays 5 pieces of one
      shape, e.g. cats against dogs or whatever …
    </p>
    <div class="text-center">
      <div class="btn-group justify-pages-center btn-group-lg">
        <a href="/pages/rules" class="btn btn-lg btn-dark">
          <i class="fas fa-file-alt"></i>
          Read more
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-none d-md-block">
    <img class="w-100 h-100" src="/theme/images/brand.svg" />
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row justify-pages-between text-center text-white">
    <div class="col-md-5 flex-fill p-3 m-1 bg-success shadow rounded">
      <i class="fas fa-3x mb-2 fa-code-branch"></i>

      <h3>Rules</h3>

      <p>
        The rules of pentagame are open and avalaible in multiple languages on
        github. There's even an illustrated version. If you want you can even
        contribute yourself or discuss with others!
      </p>

      <div class="btn-group">
        <a
          class="btn btn-outline-light"
          href="https://github.com/penta-jan/Illustrated-Rules"
        >
          <i class="fas fa-image"></i>
          Illustrated Rules
        </a>
        <a class="btn btn-outline-light" href="/pages/rules">
          <i class="fas fa-file-alt"></i>
          Rules
        </a>
      </div>
    </div>

    <div class="col-md-5 flex-fill m-1 p-3 bg-danger shadow rounded">
      <i class="fas fa-3x mb-2 fa-book"></i>

      <h3>Book</h3>

      <p>
        A book by Jan Suchanek about pentagame and it's background is being
        written at the moment. It will contain extended research on pentagame on
        the math behind pentagame but will also show the background of the
        design and it's origins. An original book by the original designer!
      </p>

      <a
        href="https://github.com/penta-jan/pentagame/blob/master/Pentagame__The_Book.pdf"
        class="btn btn-outline-light"
      >
        <i class="fas fa-pen"></i>
        Read the excerpt
      </a>
    </div>
  </div>
  <div class="row justify-pages-between text-white text-center">
    <div class="col-md-5 flex-fill m-1 p-3 bg-dark shadow rounded">
      <i class="fas fa-3x mb-2 fa-code"></i>

      <h3>Development</h3>

      <p>
        The community around pentagame is active and provides software libraries
        for you. You can create your own virtual pentagame or do research with
        it.
      </p>

      <a href="https://github.com/Penta-game/" class="btn btn-outline-light">
        <i class="fas fa-laptop-code"></i>
        Visit our Organization
      </a>
    </div>
    <div class="col-md-5 flex-fill p-3 m-1 bg-info shadow rounded">
      <i class="fas fa-3x mb-2 fa-crown"></i>

      <h3>Tournaments</h3>

      <p>
        You can participate in tournaments at c-base berlin. At events like the
        CCC are tournaments too, where you can even win your own pentagame
        related prize. The latest winner was even interviewed!
      </p>

      <a href="https://youtu.be/pSqBq2sewgY" class="btn btn-outline-light">
        <i class="fas fa-video"></i>
        Watch on YouTube
      </a>
    </div>
  </div>
</div>
{% endblock content %}
