{% extends "base.html" %} {% block title %}{{ page.title }}{% endblock %} {%
block content %}
<div class="my-4">
  <h1 class="entry-title title mb-3 text-center">{{ page.title }}</h1>
  {% import 'translations.html' as translations with context %} {{
  translations.translations_for(page) }} {% if PDF_PROCESSOR %}<a
    href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf"
    class="text-muted btn btn-primary"
  >
    get the pdf
  </a>
  {% endif %} {{ page.content }} {% if page.last_modified is defined -%}
  <p><small>Last modified {{ page.last_modified }}</small></p>
  {% endif -%}
</div>
{% endblock %}
