{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
  <h1 class="entry-title text-center">{{ page.title }}</h1>
  {% if page.show_author is defined and page.show_author == True -%}
    <footer class="blockquote-footer text-center">published by <a href="{{ page.author.url }}">{{ page.author.name }}</a></footer>
  {% endif -%}
  <hr class="text-center">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf" class="text-muted btn btn-primary">get the pdf</a>
  {% endif %}
  {{ page.content }}
  <br>
  <hr>
  {% if page.last_modified is defined -%}
    <p><small>Last modified {{ page.last_modified }}</small></p>
  {% endif -%}
{% endblock %}
