/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}


@font-face {
  font-family: "Blackout"; /* https://github.com/theleagueof/blackout/ */
  src: url("/static/fonts/blackout_midnight-webfont.eot");
  src: url("/static/fonts/blackout_midnight-webfont.woff") format("woff"),
  url("/static/fonts/blackout_midnight-webfont.svg") format("svg");
}


.blackout-font {
  font-family: "Blackout", Arial, sans-serif;
  font-style:normal;
  font-weight:normal;
}

body {
  background-color: #767676
  background-image: image("/theme/images/ng-background-dot.png");
  color: #555;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
  padding-bottom: 2.5rem;
}

footer {
  width: 100%;
  min-height: 2.5rem;
}

hr {
   border-top: 1px solid #714cdf;
}

.background-grey {
  background-color: #333333;
  border-color: transparent;
}

.background-grey:hover {
  background-color: #505050;
  border-color: transparent;
  color: white;
}

.background-grey:active {
  background-color: #505050;
  border-color: transparent;
  color: white;
}


.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/***** Modal *****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
